<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301698147563-0i6fk340354gt2tph7nc586u080qakr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301698147563-0i6fk340354gt2tph7nc586u080qakr8</string>
	<key>API_KEY</key>
	<string>AIzaSyBcawZplqPdB5ezV7lJh-BHOR1wmdVBprE</string>
	<key>GCM_SENDER_ID</key>
	<string>301698147563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.kennesaw.ScreenSafeTots</string>
	<key>PROJECT_ID</key>
	<string>screensafetots</string>
	<key>STORAGE_BUCKET</key>
	<string>screensafetots.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:301698147563:ios:b15cd17741240cbaeb4aae</string>
</dict>
</plist>
